*{
  margin: 0;
}

body{
  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0%;
  box-sizing: border-box;
  border: solid 15px #2b81ac;
  background-color: #3399cc;

}

h1 {
  font-size: 25px;
  margin: 2% 20%;
}

h3 {
  position: fixed;
  font-size: 15px;
  left: 20%;
  bottom: 7%;
}

i {
  font-size: 25px;
}



.table{
  padding: 0;
  vertical-align: middle;
  position: fixed;
  left: 20%;
  width: 60%;
  height: 70%;
  border: solid 2px white;
  background-color: white;
}



.table li{
  padding: 0;
  display: inline-block;
  list-style-type: none;
  
  height: 25%;
  border: solid 2px white;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
}

li:hover{
opacity: 50%;
}




.lisbon{
  width: 50%;
  background-color: #3399cc;
}
.paris{
  width: 25%;
  background-color: #33cccc;
}

.belgrad{
  width: 25%;
  background-color: #996699;
}

.moscow{
  width: 25%;
  background-color: #c24747;
}

.tel_aviv{
  width: 25%;
  background-color: #e2674a;
}

.cair{
  width: 25%;
  background-color: #ffcc66;

}

.new_york{
  width: 25%;
  background-color: #99cc99;

}

.new_delhi{
  background-color: #669999;
  width: 25%;
}

.san-fran{
  width: 50%;
  background-color: #cc6699;
}

.tokyo{
  width: 25%;
  background-color: #339966;
}

.sydney{
  width: 100%;
  background-color: #666699;
}