* {
  margin: 0;
  padding: 0;
}

.background {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mask {
  z-index: -1;
  opacity: 70%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  position: relative;
  width: 117px;
  top: 20px;
  left: 30px;
}

.UDG {
  position: relative;
  top: 20px;
  left: 60px;
  width: 90px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #e9ecec;
}

nav {
  position: relative;
  top: -80px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #e9ecec;
}

ul {
  float: right;
  font-size: 0;
}

li {
  display: inline;
  margin: 0 20px;
  font-size: 17px;
  cursor: pointer;
}

li:nth-child(7):hover::before,
li:nth-child(8):hover::before{
  display: none;
}


li:hover:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 45px;
  top: -1px;
  background-color: #bfd730;
}

.lang {
  position: relative;
  box-sizing: border-box;
  float: right;
  margin: 0 20px;
  border: solid 1px #bfd730;
  width: 32px;
  height: 32px;
  text-align: center;
  top: -5px;
  padding-top: 4px;
}

.lang:hover {
  cursor: pointer;
}

.search {
  float: right;
  margin: 2px 30px 0 20px;
  color: #bfd730;
}

a {
  color: #bfd730;
}

section {
  position: absolute;
  box-sizing: border-box;
  width: 560px;
  height: 200px;
  top: 35%;
  left: 25%;
  border-left: solid 6px #bfd730;
  font-family: "Acrom";
  padding-top: 5px;
  padding-left: 50px;
}

p {
  font-size: 23px;
  font-weight: 300;
  color: white;
}

span {
  font-size: 14px;
  font-family: "Acrom";
  font-weight: 300;
}

span.grn {
  color: #bfd730;
  font-size: 23px;
}

h1 {
  font-size: 50px;
  color: #ffffff;
  margin-top: 30px;
}

.box {
  position: absolute;
  width: 15px;
  height: 15px;
}

#w1 {
  left: 250px;
  top: 180px;
}

#w2 {
  right: 230px;
  bottom: 85px;
}

#g1 {
  left: 200px;
  bottom: 90px;
}
#g2 {
  left: 185px;
  bottom: 110px;
}
#g3 {
  right: 200px;
  bottom: 130px;
}
#g4 {
  right: 230px;
  bottom: 110px;
}
#g5 {
  right: 250px;
  top: 150px;
}

.green {
  background-color: #bfd730;
}

.white {
  background-color: white;
}

.mouse {
  position: absolute;
  width: 20px;
  left: 50%;
  bottom: 30px;
}


@font-face {
  font-family: "Acrom";
  src: local("../fonts/Acrom-ExtraBold/Acrom Extra Bold"),
    local("../fonts/Acrom-ExtraBold/Acrom-Extra-Bold"),
    url("../fonts/Acrom-ExtraBold/Acrom-ExtraBold.woff2") format("woff2"),
    url("../fonts/Acrom-ExtraBold/Acrom-ExtraBold.woff") format("woff"),
    url("../fonts/Acrom-ExtraBold/Acrom-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: local("../font/Acrom-Light/Acrom Light"),
    local("../font/Acrom-Light/Acrom-Light"),
    url("../font/Acrom-Light/Acrom-Light.woff2") format("woff2"),
    url("../font/Acrom-Light/Acrom-Light.woff") format("woff"),
    url("../font/Acrom-Light/Acrom-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
