@media screen and (min-width: 1200px) {
  html{
    font-size: 16px;
    transition: .2s ease;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
      font-family: "Aleo", serif;
      font-family: "Josefin Sans", sans-serif;
      width: 100%;

    


        .header_container {
          border-top: 12px solid #fff;
          border-left: 12px solid #fff;
          border-right:12px solid #fff;
          font-family: "Josefin" sans-serif;
          width: 100%;
          height: 835px;
          background: url("../img/header_bg.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;

          .head_header {
            margin-top: 15%;
            height: 76px;
            margin-bottom: 50px;

            h1 {
              margin: 0;
              text-align: center;
              color: white;
              font-weight: 700;
              font-size: 3em;
              text-transform: uppercase;
              padding-bottom: 19px;
            }

            h3 {
              margin: 0;
              text-align: center;
              color: white;
              font-size: 1.375en;
              font-weight: 300;
            }
          }

          form {
            width: 36%;
            height: 7%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .search_label {
              width: 75%;
              height: 100%;
              

                input[type=search] {
                  width: 100%;
                  height: 100%;
                  outline: none;
                  border: none;
                  padding-left: 20px;
                }

                input[type="search"]::placeholder {
                  color: #999999;
                }
      
                ::-webkit-input-placeholder {
                  text-align:center;
               }
               
               :-moz-placeholder { 
                  text-align:center;  
               }
               
               ::-moz-placeholder {  
                  text-align:center;  
               }
               
               :-ms-input-placeholder {  
                  text-align:center; 
               }
            }

            .btn_container {
              width: 25%;
              height: 100%;
              background-color: #fff;
              outline: none;
              border: none;
              position: relative;

              button {
                color: white;
                font-family: 'Aleo', serif;
                font-size: 0.9em;
                position: absolute;
                top: 2.5px;
                right: 2px;
                outline: none;
                border: none;
                width: 90%;
                height: 90%;
                background-color: #5474fd;
                text-transform: uppercase;
              }

              button:hover{
                transform: scaleX(1.02) scaleY(1.02);
                background-color: #3e54b8;
              }
            }
          }

          .scroll {
            width: 160px;
            height: 40px;
            margin: 90px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            
              h4{
                color: white;
                font-family: "Josefin Sans", sans-serif;
                font-weight: 300;
                font-size: 1em;
                text-align: center;
              }

              a{
                padding-top: 10px;
              }

          }

          .navigation{
            z-index: 2000;
            position: fixed;
            bottom: 0;
            height: 12.5%;
            width: 100%;
            border-right: 24px solid #fff;
            background-color: #5474fd;
            color: #fff;
            display: flex;
            justify-content: space-around;
            align-items: center;

              h3{
                
                text-transform: uppercase;
                font-family: "Josefin Sans", sans-serif;
                font-weight: 700;
                font-size: 1.5em;

              }

              ul{
                font-family: 'Aleo', serif;
                font-size: 0.9em;
                text-transform: uppercase;
                list-style: none;
                width: 34%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                
                  a{
                    text-decoration: none;
                    color: #fff;
                  }

                  a:hover{
                    transform: scaleX(1.05) scaleY(1.05);
                  }
              }
          }
        }
        .choose_container{
          height: 685px;
          width: 100%;
          background-image: url("../img/choose.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-left: #fff 12px solid;
          border-right: #fff 12px solid;
          display: flex;
          justify-content: center;
          align-items: center;


            .choose_content{
              width: 1110px;
              height: 65%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;


              .choose_text{
                width: 480px;
                height: 90%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;

                  h2{
                    color: #fff;
                    font-family: 'Aleo', serif;
                    font-size: 2.25em;

                  }

                  p{
                    font-family: "Josefin Sans", sans-serif;
                    font-size: 1em;
                    color: #fff;
                    font-weight: 300;
                  }

                  .choose_first_text{
                    margin-top: 62px;
                    margin-bottom: 36px;
                  }

                  .choose_second_text{
                    margin-bottom: 50px;
                  }

                  button{
                    width: 225px;
                    height: 60px;
                    border: none;
                    outline: none;
                    color: #fff;
                    font-family: 'Aleo', serif;
                    font-size: 1em;
                    text-transform: uppercase;
                    background: url("../img/button.jpg") no-repeat;
                  }

                  button:hover{
                    transform: scaleY(1.03) scaleX(1.03);
                  }
              }

              .choose_image_content{
                position: relative;
                width: 475px;
                height: 100%;
                

                  .choose_image{
                    width: 350px;
                    height: 220px;
                  }

                  .first_image{
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    background: url("../img/choose1.jpg");
                  }

                  .second_image{
                    z-index: 1;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    background: url("../img/choose2.jpg");
                  }
              }
            }
        }

        .strategy_container{
          height: 337px;
          width: 100%;
          background: #333333;
          border-left:12px solid #fff;
          border-right:12px solid #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

            .strategy_image{
              height: 180px;
              width: 810px;
              display: flex;
              
              flex-direction: row;
              justify-content: space-around;
              align-items: center;
              
                 svg {
                   margin: 0 5px;
                  height: 60px;
                }
                .strategy_dotts{
                  padding-bottom: 50px;
                  height: 50%;
                  width: 300px;
                  border-radius: 50%;
                  border-top: 2px dotted rgb(139, 139, 139);
                  
                }

                .check_icon{
                  margin: 0 5px;
                  background: url("../img/check.jpg");
                  height: 60px;
                  width: 60px;
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                }
            }
            
            .strategy_name{
              width: 970px;
              margin-top: -50px;
              color: #fff;
              font-family:'Aleo', serif;
              font-size: 1.3em;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: flex-start;
            }
        }

        .first_spain_container{
          width: 100%;
          height: 700px;
          background: url("../img/first_spain.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-left: solid #fff 12px;
          border-right: solid #fff 12px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .spain_mask_content{
            height: 370px;
            width: 570px;
            position: relative;
            margin-top: 50px;
            margin-left:-550px;
            font-family: "Josefin Sans", sans-serif;
            color: #fff;
            font-weight: 300;
          
              .spain_mask{
                top: 0;
                left: 0;
                position: absolute;
                height: 370px;
                width: 570px;
                background: #1a1817;
                opacity: 80%;
              }
              .first_spain_content{
                margin-left:20px ;
                margin-top: 10px;
                margin-bottom: 10px;
                top: 13;
                left: 0;
                position: absolute;
                height: 340px;
                width: 570px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
              
                  h4{
                    font-size: 1.43em;
                    font-weight: 300;
                  }

                  h3{
                    font-weight: 300;
                    font-size: 1.43em;
                  }

                  p{
                    font-size: 1em;
                  }
                  button{
                    width: 225px;
                    height: 60px;
                    border: none;
                    outline: none;
                    color: #fff;
                    font-family: 'Aleo', serif;
                    font-size: 1em;
                    text-transform: uppercase;
                    background: url("../img/button.jpg") no-repeat;
                  }

                  button:hover{
                    transform: scaleY(1.03) scaleX(1.03);
                  }
              }
            
            .first_none_content{
              height: 370px;
              width: 540px;
            }
          }
        }

        
        .second_spain_container {
          width: 100%;
          height: 700px;
          background: url("../img/second_spain.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-left: solid #fff 12px;
          border-right: solid #fff 12px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
  
          .spain_mask_content {
            height: 370px;
            width: 570px;
            position: relative;
            margin-top: 50px;
            margin-right: -550px;
            font-family: "Josefin Sans", sans-serif;
            color: #fff;
            font-weight: 300;
  
            .spain_mask {
              top: 0;
              left: 0;
              position: absolute;
              height: 370px;
              width: 570px;
              background: #1a1817;
              opacity: 80%;
            }
            .second_spain_content {
              margin-left: 20px;
              margin-top: 10px;
              margin-bottom: 10px;
              top: 13;
              left: 0;
              position: absolute;
              height: 340px;
              width: 570px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
  
              h4 {
                font-size: 1.43em;
                font-weight: 300;
              }
  
              h3 {
                font-weight: 300;
                font-size: 1.43em;
              }
  
              p {
                font-size: 1em;
              }
              button {
                width: 225px;
                height: 60px;
                border: none;
                outline: none;
                color: #fff;
                font-family: "Aleo", serif;
                font-size: 1em;
                text-transform: uppercase;
                background: url("../img/button.jpg") no-repeat;
              }
  
              button:hover {
                transform: scaleY(1.03) scaleX(1.03);
              }
            }
  
            .second_none_content {
              height: 370px;
              width: 540px;
            }
          }
        }

        .comments_container{
          height: 732px;
          width: 100%;
          background: url("../img/comment.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-left: solid #fff 12px;
          border-right: solid #fff 12px;
          display: flex;
          flex-direction: column;
          align-items: center;


              .comments_head{
                height: 250px;
                color: #fff;
                font-family: "Aleo", serif;
                font-size: 1.4em;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .comment_content{
                width: 1110px;
                height: 285px;
                display: flex;
                flex-direction: row;

                  .comment_image{
                    height:  285px;
                    width: 445px;
                    background: url("../img/comment_pic.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                  }
                  .comment_text{
                    width: 670px;
                    background: #333333;
                    color: #fff;
                    font-family: "Josefin Sans", sans-serif;
                    font-weight: 300;
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    


                      .comment_text_title{
                        margin-top:30px;
                        height: 80px;
                        font-size: 20px;
                        margin-left: 20px;

                      }

                      p{
                        font-size: 16px;
                        margin-left: 20px;

                          .fa-quote-left{
                            font-size: 36px;
                            color: #5474fd;
                          }
                      }
                  }
              }


        }

        footer{
          height: 300px;
          background: #232323;
          width: 100%;
          border-left: solid #fff 12px;
          border-right: solid #fff 12px;
        }
    }

  }
}
