*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body{

}

.header{
  width: 100%;
  height: 100vh;
  background: url("./img/bg--header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header_inner{
  height: 470px;
  width: 45%;
  margin: auto;
}

.hedaer_logo{
  
  width: 69px;
  height: 71px;
}