*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body{
  width: 100%;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("./img/bg--header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.header_inner{
  
  height: 470px;
  width: 45%;
  margin: auto;
}


.header-icon{
  display: block;
  margin: 0 auto;
  width: 69px;
  height: 71px;
}

.first{
  margin-top: 3%;
}
.header_title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 54px;
  text-align: center;
}

.header_suptitle{
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  line-height: 2;
}

.header_scrol{
  
  display: flex;
  justify-content: center; 
}

.about_container{
  margin-top:20px ;
  width: 100%;
  height: 530px;
  background: #fff;

}

.about_inner{
 
  height: 400px;
  margin: 115px auto;
  width: 60%;
  border-width: 2px ;
  border-style: solid;
  border-color: #3c3c3c; 
  position: relative;
}

.about_head{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  background: #fff;
  position: absolute;
  top: -23px;
  left: 25%;
  
}

.about_title{
  color: #3c3c3c;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 34px;

}



.about_text{
  width: 590px;
  margin: 0 auto;
  height: 100%;
 
  color: #3c3c3c;
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  line-height: 1.5;


}


.about_first_text{
margin-top: 80px;
}


.about_second_text{
margin-top: 50px;
}


.services_container{
  background: url("./img/bg--services.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 490px;
  display: flex;
  align-items: center;
}

.services_inner{
  height: 247px;
  width: 60%;
  margin: 0 auto ;
  border-width: 0 3px 4px 3px ;
  border-style: solid;
  border-color: #fff; 
  position: relative;

}
.services_inner::after,
.services_inner::before{
  content: "";
  height: 3px;
  width: 26%;
  background: #fff;
}

.services_inner::after{
  position: absolute;
  top: 0;
  left: -1px;
}
.services_inner::before{
  top: 0;
  right: -1px;
  position: absolute;
}

.services_head{

  margin: 0 auto;
  width: 50%;
  text-align: center;
  position: absolute;
  top: -23px;
  left: 25%;
}

.services_title{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 34px;
}



.services_text{
  margin-top: 75px;
  width: 590px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
 
  color: #fff;
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  line-height: 1.5;
}
.services_second_text{
  margin-top: 10px;
}

.what_container{
  height: 1400px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
}

.what_inner{
  margin: 0 auto;
  width: 60%;
  height: 1180px;
  border: #3c3c3c;
  border-width: 2px;
  border-style: solid;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



.what_head{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  background: #fff;
  position: absolute;
  top: -23px;
  left: 25%;
  
}

.what_title{
  color: #3c3c3c;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 34px;

}

.what_content{
  width: 590px;
  height: 23%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title{
  font-weight: 700;
  font-size: 23px;
  color: #3c3c3c;
  text-transform: uppercase;
}

.what_text{
  color: #3c3c3c;
  font-weight: 300;
  font-size: 15px;
}

.links_container{
  width: 100%;
  max-width: 1940px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.link_tab{
  height: 235px;
  width: 27%;
  position: relative;
}

.big_tab{
  height: 235px;
  width: 45%;
  position: relative;
}



.link_text a{
  text-decoration: none;
  color: #fff;

  font-weight: 700;
  text-transform: uppercase;

}

.tab_1{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("./img/work1.jpg");
}

.tab_2{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("./img/work2.jpg");
}

.tab_3{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("./img/work3.jpg");
}

.tab_4{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("./img/work4.jpg");
}

.tab_5{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("./img/work5.jpg");
}

.tab_6{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("./img/wodrk6.jpg");
}
.tabs_text{
  position: absolute;
  bottom: 40px;
  left: 40px;
}



.contact_container{
  width: 100%;
  height: 600px;
  background: #fff;
  display: flex;
  align-items: center;
  position: relative;
}

.contact_inner{
  width: 60%;
  height: 290px;
  margin: 0 auto;
  border: 2px solid #3c3c3c;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact_head{
  background: #fff;
  position: absolute;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  top: -23px;
  left: 25%;
}

.contact_title{
  color: #3c3c3c;
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
}

.contact_content{ 
  width: 590px;
  height: 200px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.contact_text{
  color: #3c3c3c;
  font-weight: 300;
  font-size: 16px;

}
.contact_btn{
  margin-top: -50px;
  width: 395px;
  height: 60px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size:17px ;
  background: #3c3c3c;
}
.contact_btn:hover{
  width: 400px ;
 cursor: pointer;
 color: darkgray;
}

.contact_btn:active{
  background: #000000;
}

.contact_footer{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  color: #3c3c3c;
  font-size: 16px;
  font-weight: 400;
  
}

.footer_text{
  width: 300px;
}

.img_footer{
  width: 50px;
}


















.icon-logo{
  height: 90px;
}